<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <import resource="loggers.xml"/>
    <bean id="client" class="beans.Client">
        <constructor-arg value="1" type="java.lang.Integer"/>
        <constructor-arg value="John Smith" type="java.lang.String"/>
    </bean>

    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <!--<constructor-arg ref="consoleEventLogger"/>-->
        <!--<constructor-arg ref="fileEventLogger"/>-->
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>
    <bean id="event" class="events.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
</beans>

